html, body, #map {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  padding-top: 50px;
}

.navbar .navbar-brand {
  font-weight: bold;
  font-size: 25px;
  color: white;
}

.leaflet-control-layers label {
  font-weight: normal;
  margin-bottom: 0px;
}